@import "../styles/variables.scss";

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;

  @media (max-width: 425px) {
    font-size: 24px;
  }

  @media (max-width: 320px) {
    font-size: 20px;
  }
}

.homeWrapper {

  background-color: $whiteColor;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;

  @media (max-width: 750px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 300px;
  }

  .text {
    text-align: center;
    margin: 10px auto;
  }

  .commentForm {
    display: flex;
    align-items: center;
    justify-content: center;

    .commentInput {
      width: 300px;
      height: 30px;
      border: 1px solid #222222;
      border-radius: 5px;
      padding: 5px;
      margin-right: 10px;

      &:focus {
        outline: none;
      }

      @media (max-width: 500px) {
        width: 50%;
      }
    }

    .commentButton {
      width: 100px;
      height: 30px;
      border: none;
      border-radius: 5px;
      background-color: #7b96ec;
      color: $whiteColor;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;

      &:hover {
        background-color: #222222;
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

    .comment {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      margin: 10px auto;
      padding: 20px;
      border: 1px solid #222222;
      border-radius: 5px;
      background-color: #7b96ec;
      color: $whiteColor;
      font-weight: bold;
      text-align: center;
      max-width: 500px;

      @media (max-width: 500px) {
        width: 90%;
        font-size: 14px;
      }

    }

    .deleteComment {
      margin: 10px auto 0px auto;
      cursor: pointer;
      color: $whiteColor;
      background-color: #132e98;
      padding: 10px;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      transition: background-color 0.25s ease-in-out;

      &:hover {
        background-color: #222222;

      }
    }
  }

  .delete {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: $whiteColor;
    background-color: #7b96ec;
    padding: 10px;
    font-weight: bold;
    border: none;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: #222222;
    }
  }
}