@import "../styles/variables.scss";

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;

  @media (max-width: 425px) {
    font-size: 24px;
  }

  @media (max-width: 320px) {
    font-size: 20px;
  }
}

.homeWrapper {
  
  background-color: $whiteColor;
  width: 500px;
  margin: 20px auto;
  padding: 10px 0px;
  border-radius: 10px;

  @media (max-width: 750px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 300px;
  }

  .text {
    text-align: center;
    margin: 10px auto;
  }

  .delete {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    background-color: #7b96ec;
    padding: 10px;
    font-weight: bold;
    border: none;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: #222222;
    }
  }
}