@import "../styles/variables.scss";

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;
}

.homeWrapper {
  background-color: $whiteColor;
  width: 500px;
  margin: 20px auto;
  padding: 10px 0px;
  border-radius: 10px;

  @media (max-width: 750px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 300px;
  }

  .text {
    text-align: center;
    margin: 10px auto;
  }
}
