.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24252a;
    height: 40px;

    .items {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
    }

    .signout {
        cursor: pointer;
        color: #fff;
        background-color: #24252a;
        border: none;
        font-size: 16px;
    }
}