@import "../styles/variables.scss";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include center;
  background-color: $blackBackground;
  height: 40px;

  .items {
    text-decoration: none;
    color: $whiteColor;
    margin: 0 10px;
    transition: 0.2s;

    &:hover {
      color: #4d4d4d;
    }

    @media (max-width: 425px) {
      font-size: 13px;
      margin: 0 5px;
    }

    @media (max-width: 320px) {
      font-size: 12px;
    }
  }

  .signout {
    cursor: pointer;
    color: $whiteColor;
    background-color: $blackBackground;
    border: none;
    font-size: 16px;
    margin: 0 10px;
    transition: 0.2s;

    &:hover {
      color: #4d4d4d;
    }

    @media (max-width: 425px) {
      font-size: 13px;
      margin: 0 5px;
    }

    @media (max-width: 320px) {
      font-size: 12px;
    }
  }
}