@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  @include center;
  margin: 30px auto;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 60px;
  width: 500px;
  border-radius: 10px;

  @media (max-width: 750px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 300px;
  }

  .title {
    text-align: center;
    margin: 20px 0;
    color: #5d5b8d;
    font-weight: bold;
  }

  .formSubmit {
    display: flex;
    flex-direction: column;
    gap: 15px;


    .labelText {
      color: #fff;
    }

    .input {
      border: none;
      border-bottom: 1px solid #a7bcff;
      padding: 15px;
      width: 250px;
      outline: none;

      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }

    .text {
      text-align: center;
      font-size: 14px;
      color: #5d5b8d;
    }

    .googleIcon {
      width: 72px;
      height: 72px;
      padding: 23px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      cursor: pointer;
      margin: 0px auto;
      transition: border 0.25s ease-in-out;


      &:hover {
        border: 1px solid #005c9d;
      }
    }
  }

  .submit {
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    background-color: #7b96ec;
    padding: 10px;
    font-weight: bold;
    border: none;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: #222222;
    }
  }

}