@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    @include center;
    margin: 30px auto;
    flex-direction: column;
    border: 1px solid black;
    background-color: #2c2b69;
    width: 700px;
    padding: 20px 0px;
    border-radius: 10px;

    @media(max-width: 750px) {
        width: 500px;
    }

    @media(max-width: 500px) {
        width: 300px;

    }

    .title {
        text-align: center;
        margin: 20px 0;
        color: #fff;
    }

    .input {
        display: block;
        margin: 10px auto;
        padding: 10px;
        outline: none;
        border-radius: 10px;
    }
}



.submit {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    background-color: #333333;
    border: none;
    padding: 10px;
    border-radius: 5px;

    &:hover {
        background-color: #222222;
    }
}